@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed';
    line-height: 1.6;
    margin: auto;
    background-color: #7AB547;
}

#title {
    text-align: center;
    margin-top: 80px;
}
