.icon {
    height: 40px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 50px;
    padding: 0 10px;

    ul {

        li {
            list-style: none;
            display: inline-block;
            margin: 0 10px;
            a {
                text-decoration: none;
                border-radius: 2rem;
                height: 10px;
                margin: 0 20px 0 0;

                &:hover {
                    background-color: cyan;
                }
            }
        }
    }
}